node_modules
.pnpm-store
.turbo
.next
**/.next
coverage
**/coverage
dist
**/dist
build
**/build
.git
.github
.vscode
.env
.env.*
!.env.example
Dockerfile
docker-compose.yml
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
